<RadzenCard Style="max-width:300px;background-color: khaki;margin-top:1em;margin-bottom:1em;">
    <h3>@Lapp.Sammanfattning</h3>
    <p>@Lapp.Beskrivning</p>
</RadzenCard>
@code {
    [Parameter] public Lapp Lapp { get; set; }
}
