@page "/skapa/lapp"
<h3>Skapa ny lapp</h3>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
    <NyLappComponent></NyLappComponent>
</div>
<div class="col-md-4"></div>
</div>

@code {
    
}