@inject DialogService DialogService
<style type="text/css">
    .onhover {
        cursor: pointer;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./">Leanlappar</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <NavLink class="nav-link" href="lappar">
                <span class="oi oi-layers" aria-hidden="true"></span> Lappar
            </NavLink>
        </li>
        <li class="nav-item">
            <a class="nav-link onhover" href="#" @onclick="OpenNewNote" @onclick:preventDefault="true">
                <span class="oi oi-plus"></span> Ny lapp
            </a>
        </li>
    </ul>
    @if (showResult)
    {
        <div class="alert alert-success">
            <strong>Success!</strong> Din förbättringslapp har skapts och inväntar handläggning.
        </div>
    }
</nav>


@code {

    bool showResult = false;
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        DialogService.OnClose += Close;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    async void OpenNewNote()
    {
        await DialogService.OpenAsync<NyLappComponent>("Skapa ny lapp");
    }
    async void Close(dynamic result)
    {
        if (result == "success")
        {
            showResult = true;
            StateHasChanged();
            await Task.Delay(5000);
            showResult = false;
            StateHasChanged();
        }
    }

}
